<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Qblog</title>
        <link
            href="https://fonts.googleapis.com/css?family=Noticia+Text:400,700"
            rel="stylesheet"
        >
    </head>
    <body>
        <div class="header">
            <h1>Qblog</h1>
            <ul>
                <li><a href="./log-in">Log In</a></li>
                <li><a href="./sign-up">Sign Up</a></li>
            </ul>
        </div>
        <div class="form">
            <p>
                <label for="email-address-input">Email Address</label>
                <input id="email-address-input" type="email" />
            </p>
            <p>
                <label for="password-input">Password</label>
                <input id="password-input" type="password" />
                <span id="login-error" class="error-message"></span>
            </p>
            <div class="hero-button-container">
                <button class="hero-button" onclick="onClickSubmitLogIn();">
                    <h3>Sign Up</h3>
                </button>
            </div>
        </div>
        <script src="./dist/js/log-in.bundle.js" charset="utf-8"></script>
    </body>
</html>
