<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Qblog</title>
    </head>
    <body>
        <div>
            <h1>Qblog: Log In</h1>
        </div>
        <div>
            <p>
                <label for="email-address-input">Email Address</label>
                <input id="email-address-input" type="email" />
            </p>
            <p>
                <label for="password-input">Password</label>
                <input id="password-input" type="password" />
            </p>
            <p>
                <button onclick="onClickSubmitLogIn();">Log In</button>
            </p>
        </div>
        <script src="./dist/js/log-in.bundle.js" charset="utf-8"></script>
    </body>
</html>
