<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Qblog</title>
    </head>
    <body onload="onLoadInit();">
        <div>
            <h1>Qblog</h1>
        </div>
        <div>
            <p><a href="./new-blog">New</a></p>
            <p>
                <ul id="blog-list">
                </ul>
            </p>
        </div>

        <script
            type="text/x-handlebars-template"
            id="blog-list-items-template"
        >
            {{#each blogs}}
            <li>
                <h3>
                    <a href="./edit-blog/{{@key}}">
                        {{name}}
                    </a>
                </h3>
            </li>
            {{/each}}
        </script>

        <script src="./dist/js/main.bundle.js" charset="utf-8"></script>
    </body>
</html>
