<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body onload="onLoadInit();">
        <div class="header header-with-background">
            <h1>Qblog</h1>
        </div>
        <div>
            <div class="form">
                <div>
                    <h2 id="post-heading"></h1>
                    <div class="normal-button-container">
                        <button
                            class="normal-button"
                            id="submit-button"
                            onclick="onClickSubmitPost();"
                        ></button>
                    </div>
                </div>
                <p>
                    <label for="title-input">Post Title</label>
                    <input id="title-input" type="text" />
                    <span id="post-error" class="error-message"></span>
                </p>
                <p>
                    <label for="body-input">Post Body</label>
                    <textarea id="body-input"></textarea>
                </p>
            </div>
        </div>

        <script
            type="text/x-handlebars-template"
            id="title-inner-template"
        >
            Post for {{name}}
        </script>

        <script
            type="text/x-handlebars-template"
            id="post-heading-inner-template"
        >
            Post for {{name}}
        </script>

        <script
            type="text/x-handlebars-template"
            id="submit-button-inner-template"
        >
            {{#if isEditing}}
            Update
            {{else}}
            Publish
            {{/if}}
        </script>

        <script src="./dist/js/new-post-or-edit-post.bundle.js" charset="utf-8"></script>
    </body>
</html>
