<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Qblog</title>
    </head>
    <body>
        <div>
            <h1>Qblog: New Blog</h1>
        </div>
        <div>
            <p>
                <label for="name-input">Blog Name</label>
                <input id="name-input" type="text" />
            </p>
            <p>
                <label for="subdomain-input">Blog Subdomain</label>
                <input id="subdomain-input" type="text" />
                <span id="new-blog-error"></span>
            </p>
            <p>
                <button onclick="onClickSubmitCreateNewBlog();">
                    Create New Blog
                </button>
            </p>
        </div>
        <script src="./dist/js/new-blog.bundle.js" charset="utf-8"></script>
    </body>
</html>
