<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link
            href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="http://yui.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css"
        />
        <link
            rel="stylesheet"
            href="http://yui.yahooapis.com/3.18.1/build/cssbase-context/cssbase-context-min.css"
        />
    </head>
    <body onload="onLoadInit();">
        <div class="header header-with-background">
            <h1>Qblog</h1>
        </div>
        <div>
            <div class="form">
                <div>
                    <h2 id="post-heading"></h1>
                    <div class="normal-button-container">
                        <button
                            class="normal-button"
                            id="submit-button"
                            onclick="onClickSubmitPost();"
                        ></button>
                    </div>
                </div>
                <p>
                    <label for="title-input">Post Title</label>
                    <input id="title-input" type="text" />
                    <span id="post-error" class="error-message"></span>
                </p>
                <div class="body-input-and-label-container">
                    <label for="body-input">Post Body</label>
                    <div
                        class="body-input-container yui3-cssreset yui3-cssbase"
                    >
                        <!-- Quill.js generates the toolbar here and edits
                             this `body-input` for the input. -->
                        <div id="body-input"></div>
                    </div>
                </div>
            </div>
        </div>

        <script
            type="text/x-handlebars-template"
            id="title-inner-template"
        >
            Post for {{name}}
        </script>

        <script
            type="text/x-handlebars-template"
            id="post-heading-inner-template"
        >
            Post for {{name}}
        </script>

        <script
            type="text/x-handlebars-template"
            id="submit-button-inner-template"
        >
            {{#if isEditing}}
            Update
            {{else}}
            Publish
            {{/if}}
        </script>

        <script src="./dist/js/new-post-or-edit-post.bundle.js" charset="utf-8"></script>
    </body>
</html>
