<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Qblog</title>
    </head>
    <body>
        <div>
            <h1>Qblog: Sign Up</h1>
        </div>
        <div>
            <p>
                <label for="name-input">Your Name</label>
                <input id="name-input" type="text" />
            </p>
            <p>
                <label for="username-input">Username</label>
                <input id="username-input" type="text" />
            </p>
            <p>
                <label for="email-address-input">Email Address</label>
                <input id="email-address-input" type="email" />
            </p>
            <p>
                <label for="password-input">Password</label>
                <input id="password-input" type="password" />
            </p>
            <p>
                <button onclick="submitSignUp();">Sign Up</button>
            </p>
        </div>
        <script src="./dist/js/sign-up.bundle.js" charset="utf-8"></script>
    </body>
</html>
