.hero {
    background-image: linear-gradient(0deg, #EAE1C7 0%, #EDEBE6 100%);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.50);
    position: relative;
    z-index: 3;
    min-height: 879px;
    padding: 0px 32px;

    .header {
        padding: 24px 0px;
    }

    h2 {
        font-weight: normal;
        font-size: 50px;
        text-align: center;
        margin-top: 182px;
    }

    p {
        font-weight: normal;
        font-size: 30px;
        padding: 0px 10%;
        max-width: 950px;
        margin: 32px auto 0px;
    }

    .hero-button-container {
        padding-bottom: 128px;
    }
}

.feature {
    background-color: #FFF0C1;
    padding: 72px 64px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.50);
    position: relative;

    .text-container {
        display: inline-block;
        vertical-align: middle;

        h4 {
            margin: 0px 0px 32px;
            font-size: 32px;
        }

        p {
            margin: 32px 0px 0px;
            font-size: 26px;
        }
    }

    img {
        display: inline-block;
        vertical-align: middle;
    }

    .text-container, img {
        /*
            Aside from the 64px horizontal padding on `.featre`, each side
            should have 45% of the content, with 10% of space in the middle
            (since 45% + 45% + 10% = 100%).

            NOTE: If the percentage is change, the corresponding space amount
            should also be changed to make it symmetrical.
         */
        width: calc(45% - 32px);
    }

    img {
        height: 240px;
        object-fit: contain;
    }

    &.feature-text-left {
        .text-container {
            margin-right: 10%;
        }
    }

    &.feature-text-right {
        img {
            margin-right: 10%;
        }
    }

    &#no-restrictions-feature {
        z-index: 2;
    }

    &#beautiful-feature {
        z-index: 1;
    }

    &#open-source-feature {
        z-index: 0;
    }
}

.closing {
    background-image: linear-gradient(0deg, #EAE1C7 0%, #EDEBE6 100%);
    padding: 96px 0px;

    h6 {
        font-weight: normal;
        font-size: 50px;
        text-align: center;
        margin: 0px 0px 48px;
    }

    .hero-button-container {
        margin: 48px 0px 0px;
    }
}
