body {
    font-family: 'Noticia Text', sans-serif;
    color: #333333;
    margin: 0px;

    a {
        color: #333333;
        text-decoration: underline;
    }

    button {
        font-family: 'Noticia Text', sans-serif;
        color: #333333;
        border: none;
        outline: none;
    }

    input {
        font-family: 'Noticia Text', sans-serif;
        color: #333333;
        border: none;
        outline: none;
    }
}

.header {
    padding: 24px 32px;
    height: 42px;

    h1 {
        font-weight: bold;
        font-size: 32px;
        margin: 0px;
        display: inline;
        float: left;
        vertical-align: middle;
        line-height: 42px;
    }

    ul {
        list-style-type: none;
        display: inline;
        margin: 0px;
        float: right;
        vertical-align: middle;
        line-height: 42px;

        li {
            font-weight: normal;
            font-size: 20px;
            display: inline;

            margin-right: 40px;
        }

        li:last-of-type {
            margin-right: 0px;
        }
    }

    &.header-with-background {
        background-color: #FFF0C1;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,0.50);
    }
}

.base-button-container() {
    text-align: center;
    margin: 0px;
}

.base-button() {
    background-image: linear-gradient(0deg, #E3C15E 6%, #FFF0C1 100%);
    box-sizing: border-box;
    margin: 0px auto;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-image: linear-gradient(0deg, #BB9C41 6%, #EEDDA5 100%);
    }

    &:active {
        background-image: linear-gradient(0deg, #EEDDA5 6%, #BB9C41 100%);
    }
}

.hero-button-container {
    .base-button-container;
    margin-top: 72px;

    .hero-button {
        .base-button;
        box-shadow: 0 3px 6px 0 #AE8F35;
        border-radius: 97px;
        height: 96px;
        width: 340px;

        h3 {
            font-size: 32px;
            margin: 0px;
            font-weight: normal;
        }
    }

    .hero-button:active {
        box-shadow: 0 3px 6px 0 #AE8F35 inset;
    }

    a.hero-button {
        padding: 26px 0px 0px;
    }
}

.normal-button {
    .base-button;
    box-shadow: 0 2px 4px 0 #AE8F35;
    border-radius: 20px;
    height: 40px;
    width: 96px;

    h4 {
        font-size: 14px;
        margin: 0px;
        font-weight: bold;
    }

    &:active {
        box-shadow: 0 3px 6px 0 #AE8F35 inset;
    }

    a& {
        padding: 10px 0px 0px;
    }
}

.large-button-container {
    .base-button-container;
    margin-top: 36px;

    .large-button {
        .base-button;
        box-shadow: 0 3px 6px 0 #AE8F35;
        border-radius: 32px;
        height: 64px;
        width: 198px;

        h3 {
            font-size: 16px;
            margin: 0px;
            font-weight: bold;
        }
    }

    .large-button:active {
        box-shadow: 0 3px 6px 0 #AE8F35 inset;
    }

    a.large-button {
        padding: 12px 0px 0px;
    }
}

.form {
    margin: 48px auto 0px;
    width: 512px;
    background-color: #F2EFE4;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.50);
    border-radius: 20px;
    padding: 40px 40px 64px;
    box-sizing: border-box;

    h2 {
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 32px;
        font-weight: bold;
    }

    p {
        margin: 0px 0px 40px;

        label {
            font-size: 20px;
            margin-bottom: 8px;
        }

        input {
            margin-top: 8px;
            width: 100%;
            background-color: #FFFFFF;
            box-shadow: 0 0 11px 0 rgba(0,0,0,0.50) inset;
            border-radius: 12px;
            font-size: 8px;
            height: 58px;
            padding: 0px 16px;
            box-sizing: border-box;
            font-size: 24px;
        }
    }

    .hero-button-container {
        margin-top: 48px;
    }
}
